/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #6aade08e, #56a5f3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Formulário */
form {
    background-color: #dbf3ef;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

/* Fieldset */
fieldset {
    border: none;
}

/* Título */
h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}


/* Inputs */
input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #2c3e50;
    outline: none;
}

/* Botões */
input[type="button"] {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

input[value="CALCULAR"] {
    background-color: #2c3e50;
    color: white;
}

input[value="CALCULAR"]:hover {
    background-color: #34495e;
}

input[value="LIMPAR"] {
    background-color: #bdc3c7;
    color: #2c3e50;
}

input[value="LIMPAR"]:hover {
    background-color: #95a5a6;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #1c5d99;
}
